<div class="jumbotron">
    <div class="text-center">
      <h1>Freelance Financial</h1>
      <p>A simple tool to help freelancers gain control of their cash flow and increase their profit!</p>
      <hr class="m-4">
      <%= link_to 'Sign Up!', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
