<div class="jumbotron">
    <div class="text-center">
      <h1>Freelance Financial</h1>
      <p>A simple tool to help freelancers gain control of their cash flow and increase their profit!</p>
      <hr class="m-4">
      <a href="#" class="btn btn-primary btn-lg" role="button">Sign up today!</a>
    </div>
  </div>